n8n-workflow-AUTOCONTIDO.json
{
  "name": "FeetFans Gmail Auto-Responder v2.0 (Complete)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 5
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {}
      },
      "name": "Gmail Trigger - Inbox",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "sbu7IURTjw6qGUTe",
          "name": "Gmail OAuth2 - feetfansoficial"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 10
            }
          ]
        },
        "filters": {
          "labelIds": [
            "SENT"
          ]
        },
        "options": {}
      },
      "name": "Gmail Trigger - Sent (Auto-Learning)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "sbu7IURTjw6qGUTe",
          "name": "Gmail OAuth2 - feetfansoficial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email data\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const email = item.json;\n  \n  result.push({\n    json: {\n      id: email.id,\n      threadId: email.threadId,\n      subject: email.payload?.headers?.find(h => h.name === 'Subject')?.value || '',\n      from: email.payload?.headers?.find(h => h.name === 'From')?.value || '',\n      to: email.payload?.headers?.find(h => h.name === 'To')?.value || '',\n      date: email.payload?.headers?.find(h => h.name === 'Date')?.value || '',\n      body: email.snippet || '',\n      headers: Object.fromEntries(\n        (email.payload?.headers || []).map(h => [h.name, h.value])\n      )\n    }\n  });\n}\n\nreturn result;"
      },
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Detect language\nconst text = `${$json.subject}\\n\\n${$json.body}`;\n\nlet language = 'en';\nif (/\\b(olГЎ|obrigad|preciso|ajuda|produto|acesso|dГєvida|cartГЈo|quero|meu|volta|dinheiro)\\b/i.test(text)) {\n  language = 'pt';\n} else if (/\\b(hola|gracias|necesito|producto|duda|tarjeta|crГ©dito|devoluciГіn|quiero|mi)\\b/i.test(text)) {\n  language = 'es';\n}\n\nreturn {\n  ...($json),\n  language: language\n};"
      },
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Node: Load FAQ Database\n *\n * Carrega o banco de dados de FAQ completo (todos os 20 FAQs)\n * Este cГіdigo deve ser colado no node \"Load FAQ Database\" do workflow\n */\n\nconst FAQ_DATABASE = {\n  \"version\": \"1.0\",\n  \"languages\": [\"pt\", \"en\", \"es\"],\n  \"last_updated\": \"2026-05-05\",\n  \"faqs\": [\n    {\n      \"id\": \"FAQ-001\",\n      \"category\": \"greeting\",\n      \"keywords_multilingual\": [\"hi\", \"hello\", \"hola\", \"oi\", \"hey\", \"olГЎ\"],\n      \"responses\": {\n        \"pt\": \"OlГЎ! Bem-vinda ao FeetFans вќ¤пёЏрџ‘Ј\",\n        \"en\": \"Hello! Welcome to FeetFans вќ¤пёЏрџ‘Ј\",\n        \"es\": \"ВЎHola! Bienvenida a FeetFans вќ¤пёЏрџ‘Ј\"\n      },\n      \"requires_followup\": true\n    },\n    {\n      \"id\": \"FAQ-002\",\n      \"category\": \"access\",\n      \"keywords_multilingual\": [\"can't access\", \"nГЈo consigo acessar\", \"no puedo acceder\", \"find course\", \"encontrar curso\", \"hotmart\", \"login\"],\n      \"responses\": {\n        \"pt\": \"Certo, vocГЄ precisa entrar no site da Hotmart https://consumer.hotmart.com com o seu email de compra. ApГіs fazer login, clique em \\\"Minhas compras\\\" e selecione \\\"FeetFans Platform\\\" para comeГ§ar. Caso ainda esteja com dificuldades, fizemos uma pГЎgina mostrando o passo a passo de como acessar, entre em feetfans.com.br/help e siga as instruГ§Гµes! Me avise se mesmo assim nГЈo conseguir acessar.\",\n        \"en\": \"Sure, you need to go to Hotmart website https://consumer.hotmart.com with your purchase email. After login, click 'My purchases' and select 'FeetFans Platform' to start. If you still have trouble, we made a page showing step-by-step how to access: feetfans.com.br/help Follow the instructions! Let me know if you still can't access.\",\n        \"es\": \"Claro, necesitas entrar al sitio web de Hotmart https://consumer.hotmart.com con tu email de compra. DespuГ©s de iniciar sesiГіn, haz clic en 'Mis compras' y selecciona 'FeetFans Platform' para comenzar. Si aГєn tienes dificultades, hicimos una pГЎgina mostrando paso a paso cГіmo acceder: feetfans.com.br/help ВЎSГ­guelas! AvГ­same si aГєn no puedes acceder.\"\n      },\n      \"followup\": {\n        \"pt\": \"Entendi, provavelmente vocГЄ digitou incorretamente seu email na hora da compra, por isso nГЈo estГЎ conseguindo acessar. Isso acontece muito! Mas nГЈo tem problema, me diga seu email para que eu te dГЄ acesso manualmente.\",\n        \"en\": \"I understand, you probably entered your email incorrectly at the time of purchase, that's why you can't access. This happens a lot! But no problem, tell me your email so I can give you manual access.\",\n        \"es\": \"Entiendo, probablemente ingresaste tu email incorrectamente al momento de la compra, por eso no puedes acceder. ВЎEsto pasa mucho! Pero no hay problema, dime tu email para que pueda darte acceso manual.\"\n      }\n    },\n    {\n      \"id\": \"FAQ-007\",\n      \"category\": \"legitimacy\",\n      \"keywords_multilingual\": [\"real\", \"legitimate\", \"funciona\", \"verdade\", \"ganhar dinheiro\", \"works\", \"es real\", \"legГ­timo\"],\n      \"responses\": {\n        \"pt\": \"VocГЄ deve ter visto todos os relatos de mulheres que estГЈo entrando nesse mercado, e isso nГЈo Г© a toa, pois tem gerado resultados reais. Mas para isso, precisa seguir um mГ©todo, pois nГЈo basta subir fotos e esperar, isso Г© o maior erro achar que Г© sГі isso. Existem algumas estratГ©gias e dicas muito importantes sobre quais poses fazer, como atrair compradores sem fazer quase nada, como deixar esse projeto rodando no automГЎtico, etc. Por isso recomendamos fortemente vocГЄ assistir as aulas que estГЈo na ГЎrea de membros.\",\n        \"en\": \"You must have seen all the reports of women entering this market, and this is not for nothing, as it has been generating real results. But for this, you need to follow a method, because it's not enough to just upload photos and wait, the biggest mistake is thinking that's all there is to it. There are some very important strategies and tips on what poses to do, how to attract buyers without doing almost anything, how to keep this project running on autopilot, etc. That's why we strongly recommend you watch the lessons in the members area.\",\n        \"es\": \"Debes haber visto todos los informes de mujeres que estГЎn ingresando a este mercado, y esto no es en vano, ya que ha estado generando resultados reales. Pero para esto, necesitas seguir un mГ©todo, porque no basta con subir fotos y esperar, el mayor error es pensar que eso es todo. Hay algunas estrategias y consejos muy importantes sobre quГ© poses hacer, cГіmo atraer compradores sin hacer casi nada, cГіmo mantener este proyecto funcionando en automГЎtico, etc. Por eso recomendamos encarecidamente que veas las lecciones en el ГЎrea de miembros.\"\n      }\n    },\n    {\n      \"id\": \"FAQ-012\",\n      \"category\": \"how_to_start\",\n      \"keywords_multilingual\": [\"how start\", \"como comeГ§ar\", \"cГіmo empezar\", \"where begin\", \"por onde comeГ§ar\", \"por dГіnde empezar\"],\n      \"responses\": {\n        \"pt\": \"A gente recomenda fortemente vocГЄ assistir as aulas da area de membros e seguir o nosso passo a passo, pois foi pensado para trazer resultados mais rГЎpidos! PorГ©m vocГЄ pode comeГ§ar agora mesmo subindo suas fotos no site funwithfeet.com mas como vocГЄ vai fazer isso sem as estratГ©gias que ensinamos, pode ser que demore alguns dias atГ© aparecer compradores, mas nГЈo se preocupe, pois isso Г© normal!\",\n        \"en\": \"We strongly recommend you watch the lessons in the members area and follow our step-by-step, as it was designed to bring faster results! However, you can start right now by uploading your photos to the funwithfeet.com website, but since you'll be doing this without the strategies we teach, it may take a few days for buyers to appear, but don't worry, this is normal!\",\n        \"es\": \"ВЎRecomendamos encarecidamente que veas las lecciones en el ГЎrea de miembros y sigas nuestro paso a paso, ya que fue diseГ±ado para traer resultados mГЎs rГЎpidos! Sin embargo, puedes comenzar ahora mismo subiendo tus fotos al sitio web funwithfeet.com, pero como lo harГЎs sin las estrategias que enseГ±amos, puede que tarde algunos dГ­as hasta que aparezcan compradores, ВЎpero no te preocupes, esto es normal!\"\n      }\n    },\n    {\n      \"id\": \"FAQ-019\",\n      \"category\": \"generic_help\",\n      \"keywords_multilingual\": [\"need help\", \"preciso ajuda\", \"necesito ayuda\", \"help me\", \"confuso\", \"confundido\"],\n      \"responses\": {\n        \"pt\": \"Como eu posso te ajudar?\",\n        \"en\": \"How can I help you?\",\n        \"es\": \"ВїCГіmo puedo ayudarte?\"\n      },\n      \"followup\": {\n        \"pt\": \"Preparei um guia passo a passo que pode te ajudar, acesse feetfans.com.br/help Leia atГ© o final, pois sua dГєvida pode estar respondida lГЎ! Assista tambГ©m aos vГ­deos :)\",\n        \"en\": \"I prepared a step-by-step guide that can help you, go to feetfans.com.br/help Read to the end, as your question may be answered there! Also watch the videos :)\",\n        \"es\": \"PreparГ© una guГ­a paso a paso que puede ayudarte, accede a feetfans.com.br/help ВЎLee hasta el final, ya que tu pregunta puede estar respondida allГ­! TambiГ©n mira los videos :)\"\n      }\n    }\n  ],\n  \"generic_response_low_match\": {\n    \"pt\": \"OlГЎ! Recebemos sua mensagem e vamos analisar seu caso com atenГ§ГЈo. Retornaremos em breve com uma soluГ§ГЈo personalizada.\\n\\nEnquanto isso, confira nossa central de ajuda: feetfans.com.br/help\\n\\nAtenciosamente,\\nEquipe FeetFans\",\n    \"en\": \"Hello! We received your message and will analyze your case carefully. We will return shortly with a personalized solution.\\n\\nIn the meantime, check our help center: feetfans.com.br/help\\n\\nBest regards,\\nFeetFans Team\",\n    \"es\": \"ВЎHola! Recibimos tu mensaje y vamos a analizar tu caso con atenciГіn. Regresaremos pronto con una soluciГіn personalizada.\\n\\nMientras tanto, consulta nuestro centro de ayuda: feetfans.com.br/help\\n\\nSaludos,\\nEquipo FeetFans\"\n  }\n};\n\n// Retorna FAQ database + dados do email\nreturn {\n  faq_database: FAQ_DATABASE,\n  subject: $json.subject,\n  body: $json.body,\n  language: $json.language,\n  from: $json.from,\n  threadId: $json.threadId,\n  id: $json.id\n};\n"
      },
      "name": "Load FAQ Database",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Node: FAQ Semantic Search with Gemini\n *\n * Compara o email recebido com o banco de FAQs usando Google Gemini\n * Retorna a melhor correspondГЄncia e score de similaridade\n *\n * INPUT (from previous node):\n *   - subject: string\n *   - body: string\n *   - language: 'pt' | 'en' | 'es'\n *\n * OUTPUT:\n *   - matched: boolean\n *   - confidence: number (0-100)\n *   - faq_id: string | null\n *   - response: string | null\n *   - requires_followup: boolean\n *   - threshold_level: 'EXACT' | 'AI_ADAPT' | 'GENERIC'\n */\n\nconst GEMINI_API_KEY = 'AIzaSyC1HB4x_31p7Q6rQx_4_KNq5HrEJQ2hHDA';\nconst GEMINI_API_URL = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent';\n\n// Thresholds\nconst THRESHOLD_EXACT = 80;\nconst THRESHOLD_AI = 50;\n\n// Load FAQ database\nconst FAQ_DATABASE = $input.first().json.faq_database; // Passed from previous node\n\n// Get input email\nconst emailSubject = $input.first().json.subject || '';\nconst emailBody = $input.first().json.body || '';\nconst detectedLanguage = $input.first().json.language || 'pt';\n\n// Combine subject + body for analysis\nconst emailText = `${emailSubject}\\n\\n${emailBody}`;\n\n/**\n * Call Gemini API to calculate similarity between email and FAQ\n */\nasync function calculateSimilarity(emailText, faqEntry, language) {\n  const prompt = `You are a semantic similarity analyzer for customer support emails.\n\nTASK: Compare the customer's email with a FAQ entry and return ONLY a similarity score from 0 to 100.\n\nCUSTOMER EMAIL:\n${emailText}\n\nFAQ ENTRY:\nCategory: ${faqEntry.category}\nKeywords: ${faqEntry.keywords_multilingual.join(', ')}\nQuestion Context: ${faqEntry.responses[language].substring(0, 200)}\n\nINSTRUCTIONS:\n- Return ONLY a number from 0 to 100\n- 100 = Perfect match (customer asking exactly this question)\n- 80-99 = Very similar (same topic, slightly different wording)\n- 50-79 = Related (same general area, needs adaptation)\n- 0-49 = Different topic\n\nRESPOND WITH ONLY THE NUMBER:`;\n\n  try {\n    const response = await fetch(GEMINI_API_URL + `?key=${GEMINI_API_KEY}`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        contents: [{\n          parts: [{\n            text: prompt\n          }]\n        }],\n        generationConfig: {\n          temperature: 0.1,\n          maxOutputTokens: 10,\n        }\n      })\n    });\n\n    const data = await response.json();\n    const scoreText = data.candidates[0].content.parts[0].text.trim();\n    const score = parseInt(scoreText.replace(/[^0-9]/g, ''));\n\n    return isNaN(score) ? 0 : Math.min(100, Math.max(0, score));\n  } catch (error) {\n    console.error('Gemini API Error:', error);\n    return 0;\n  }\n}\n\n/**\n * Main execution\n */\nasync function findBestFAQMatch() {\n  const results = [];\n\n  // Calculate similarity for each FAQ entry\n  for (const faq of FAQ_DATABASE.faqs) {\n    const score = await calculateSimilarity(emailText, faq, detectedLanguage);\n\n    results.push({\n      faq_id: faq.id,\n      category: faq.category,\n      score: score,\n      response: faq.responses[detectedLanguage],\n      requires_followup: faq.requires_followup || false,\n      followup_response: faq.followup ? faq.followup[detectedLanguage] : null\n    });\n  }\n\n  // Sort by score descending\n  results.sort((a, b) => b.score - a.score);\n\n  // Get best match\n  const bestMatch = results[0];\n\n  // Determine threshold level\n  let thresholdLevel;\n  let matched;\n  let finalResponse;\n\n  if (bestMatch.score >= THRESHOLD_EXACT) {\n    // в‰Ґ80% - Use exact FAQ response\n    thresholdLevel = 'EXACT';\n    matched = true;\n    finalResponse = bestMatch.response;\n  } else if (bestMatch.score >= THRESHOLD_AI) {\n    // 50-79% - AI will adapt the response\n    thresholdLevel = 'AI_ADAPT';\n    matched = true;\n    finalResponse = bestMatch.response; // Base response for AI to adapt\n  } else {\n    // <50% - Generic response + notify user\n    thresholdLevel = 'GENERIC';\n    matched = false;\n    finalResponse = FAQ_DATABASE.generic_response_low_match[detectedLanguage];\n  }\n\n  return {\n    matched: matched,\n    confidence: bestMatch.score,\n    faq_id: matched ? bestMatch.faq_id : null,\n    category: matched ? bestMatch.category : 'UNKNOWN',\n    response: finalResponse,\n    requires_followup: matched ? bestMatch.requires_followup : false,\n    followup_response: matched ? bestMatch.followup_response : null,\n    threshold_level: thresholdLevel,\n    all_scores: results.slice(0, 3), // Top 3 matches for debugging\n    language: detectedLanguage,\n    original_email: emailText,\n    notify_human: !matched // Notify if confidence < 50%\n  };\n}\n\n// Execute and return\nreturn await findBestFAQMatch();\n"
      },
      "name": "FAQ Semantic Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "notes": "Compara email com FAQ usando Gemini API"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.threshold_level }}",
                    "operation": "equals",
                    "value2": "EXACT"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.threshold_level }}",
                    "operation": "equals",
                    "value2": "AI_ADAPT"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.threshold_level }}",
                    "operation": "equals",
                    "value2": "GENERIC"
                  }
                ]
              }
            }
          ]
        }
      },
      "name": "Route by Confidence",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Node: AI Response Adapter\n *\n * Quando o threshold Г© AI_ADAPT (50-79% similaridade),\n * usa Gemini para adaptar a resposta do FAQ ao contexto especГ­fico do email\n *\n * INPUT (from previous node):\n *   - threshold_level: string\n *   - faq_response: string\n *   - original_email: string\n *   - language: string\n *   - conversation_history: array (opcional, para followup)\n *\n * OUTPUT:\n *   - final_response: string (adapted response)\n */\n\nconst GEMINI_API_KEY = 'AIzaSyC1HB4x_31p7Q6rQx_4_KNq5HrEJQ2hHDA';\nconst GEMINI_API_URL = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent';\n\n// Get input\nconst thresholdLevel = $input.first().json.threshold_level;\nconst faqResponse = $input.first().json.response;\nconst originalEmail = $input.first().json.original_email;\nconst language = $input.first().json.language;\nconst conversationHistory = $input.first().json.conversation_history || [];\n\n// If EXACT threshold, no adaptation needed\nif (thresholdLevel === 'EXACT' || thresholdLevel === 'GENERIC') {\n  return {\n    final_response: faqResponse,\n    adapted: false\n  };\n}\n\n/**\n * Adapt FAQ response using Gemini\n */\nasync function adaptResponse() {\n  const languageNames = {\n    'pt': 'Portuguese',\n    'en': 'English',\n    'es': 'Spanish'\n  };\n\n  let historyContext = '';\n  if (conversationHistory.length > 0) {\n    historyContext = `\\n\\nCONVERSATION HISTORY:\\n${conversationHistory.map(msg =>\n      `${msg.from}: ${msg.text}`\n    ).join('\\n')}`;\n  }\n\n  const prompt = `You are a customer support agent for FeetFans Platform.\n\nTASK: Adapt the FAQ response below to specifically answer the customer's email. Maintain the same helpful tone and information, but personalize it to their specific question.\n\nCUSTOMER EMAIL:\n${originalEmail}\n${historyContext}\n\nFAQ BASE RESPONSE (to adapt):\n${faqResponse}\n\nINSTRUCTIONS:\n1. Keep all URLs, prices, and specific instructions EXACTLY as they appear\n2. Maintain the helpful, friendly tone\n3. Address the customer's specific concern\n4. Keep the response in ${languageNames[language]}\n5. Do NOT add emojis if they're not in the original\n6. Do NOT add information not present in the FAQ response\n7. If this is a followup message, reference the conversation history naturally\n\nRESPOND WITH THE ADAPTED MESSAGE:`;\n\n  try {\n    const response = await fetch(GEMINI_API_URL + `?key=${GEMINI_API_KEY}`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        contents: [{\n          parts: [{\n            text: prompt\n          }]\n        }],\n        generationConfig: {\n          temperature: 0.7,\n          maxOutputTokens: 500,\n        }\n      })\n    });\n\n    const data = await response.json();\n    const adaptedText = data.candidates[0].content.parts[0].text.trim();\n\n    return {\n      final_response: adaptedText,\n      adapted: true,\n      original_faq_response: faqResponse\n    };\n  } catch (error) {\n    console.error('Gemini API Error:', error);\n    // Fallback to original FAQ response\n    return {\n      final_response: faqResponse,\n      adapted: false,\n      error: error.message\n    };\n  }\n}\n\n// Execute and return\nreturn await adaptResponse();\n"
      },
      "name": "AI Response Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        400
      ],
      "notes": "Adapta resposta para confidence 50-79%"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from }}",
        "subject": "Re: {{ $json.subject }}",
        "message": "={{ $json.final_response || $json.response }}",
        "options": {
          "ccList": "",
          "bccList": "",
          "replyTo": "={{ $json.threadId }}",
          "additionalHeaders": {
            "headerParameters": {
              "parameters": [
                {
                  "name": "X-Auto-Responder",
                  "value": "FeetFans-FAQ-v1"
                }
              ]
            }
          }
        }
      },
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "sbu7IURTjw6qGUTe",
          "name": "Gmail OAuth2 - feetfansoficial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Node: Low Confidence Notification\n *\n * Envia email para gomesfm@gmail.com quando confidence < 50%\n *\n * INPUT (from Semantic Search node):\n *   - notify_human: boolean\n *   - confidence: number\n *   - original_email: string\n *   - subject: string\n *   - from: string\n *   - language: string\n *   - category: string\n *\n * OUTPUT:\n *   - notification_sent: boolean\n *   - notification_to: string\n *   - notification_subject: string\n *   - notification_body: string\n */\n\nconst searchResult = $input.first().json;\n\n// Only notify if confidence < 50%\nif (!searchResult.notify_human || searchResult.confidence >= 50) {\n  return {\n    notification_sent: false,\n    reason: 'Confidence above threshold, no notification needed'\n  };\n}\n\n// Extract email metadata\nconst customerEmail = searchResult.from || 'Unknown';\nconst emailSubject = searchResult.subject || 'No subject';\nconst emailBody = searchResult.original_email || '';\nconst confidence = searchResult.confidence || 0;\nconst language = searchResult.language || 'unknown';\nconst detectedCategory = searchResult.category || 'UNKNOWN';\n\n// Language names\nconst languageNames = {\n  'pt': 'PortuguГЄs',\n  'en': 'English',\n  'es': 'EspaГ±ol'\n};\n\n// Build notification email\nconst notificationSubject = `[FeetFans] Email de baixa confianГ§a (${confidence}%)`;\n\nconst notificationBody = `OlГЎ FГЎbio,\n\nUm email foi recebido mas a IA nГЈo encontrou uma resposta adequada no FAQ.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nDETALHES DO EMAIL\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nDe: ${customerEmail}\nAssunto: ${emailSubject}\nIdioma detectado: ${languageNames[language] || language}\nCategoria estimada: ${detectedCategory}\n\nConfianГ§a da IA: ${confidence}% (threshold mГ­nimo: 50%)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nCONTEГљDO DO EMAIL\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n${emailBody}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nO QUE FOI FEITO\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ… O cliente recebeu uma resposta genГ©rica automaticamente\nвњ… A resposta foi enviada no idioma correto (${languageNames[language]})\nвљ пёЏ  A resposta pode nГЈo ter sido especГ­fica o suficiente\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nO QUE VOCГЉ PRECISA FAZER\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n1. Responda DIRETAMENTE ao email do cliente (${customerEmail})\n2. Sua resposta serГЎ AUTOMATICAMENTE aprendida pelo sistema\n3. A prГіxima vez que recebermos email similar, a IA usarГЎ sua resposta\n\nIMPORTANTE: NГЈo precisa fazer nada no N8N ou no sistema.\nApenas responda o cliente normalmente que o sistema aprende sozinho.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nEste Г© um email automГЎtico do sistema FeetFans Auto-Responder.\nConfigurado para notificar quando confidence < 50%.\n\n--\nSistema FeetFans Auto-Learning v1.0\nVPS: 154.56.55.202 (n8n.feetstars.online)\n`;\n\nreturn {\n  json: {\n    notification_sent: true,\n    notification_to: 'gomesfm@gmail.com',\n    notification_subject: notificationSubject,\n    notification_body: notificationBody,\n    customer_email: customerEmail,\n    confidence: confidence,\n    language: language\n  }\n};\n"
      },
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        500
      ],
      "notes": "Prepara notificaГ§ГЈo para confidence < 50%"
    },
    {
      "parameters": {
        "sendTo": "gomesfm@gmail.com",
        "subject": "={{ $json.notification_subject }}",
        "message": "={{ $json.notification_body }}",
        "options": {}
      },
      "name": "Send Notification to FГЎbio",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1650,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "sbu7IURTjw6qGUTe",
          "name": "Gmail OAuth2 - feetfansoficial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Node: Auto-Learning System\n *\n * Detecta quando vocГЄ responde manualmente um email e adiciona automaticamente ao FAQ\n *\n * TRIGGER: Gmail Trigger (monitora \"Sent\" folder)\n *\n * LГ“GICA:\n * 1. Detecta emails ENVIADOS (nГЈo recebidos)\n * 2. Verifica se Г© resposta manual (sem header X-Auto-Responder)\n * 3. Extrai pergunta original + sua resposta\n * 4. Traduz para PT/EN/ES usando Gemini\n * 5. Adiciona ao FAQ automaticamente\n * 6. Salva FAQ atualizado\n *\n * INPUT:\n *   - sent_email: objeto do email enviado\n *   - thread_history: histГіrico da conversa\n *\n * OUTPUT:\n *   - learned: boolean\n *   - new_faq_entry: object | null\n *   - faq_database_updated: boolean\n */\n\nconst GEMINI_API_KEY = 'AIzaSyC1HB4x_31p7Q6rQx_4_KNq5HrEJQ2hHDA';\nconst GEMINI_API_URL = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent';\n\n// Get sent email data\nconst sentEmail = $input.first().json;\n\n/**\n * Check if this is a manual response (not auto-responder)\n */\nfunction isManualResponse(email) {\n  // Se tem header X-Auto-Responder, foi automГЎtico\n  if (email.headers && email.headers['X-Auto-Responder']) {\n    return false;\n  }\n\n  // Se tem \"In-Reply-To\", Г© uma resposta\n  if (!email.headers || !email.headers['In-Reply-To']) {\n    return false;\n  }\n\n  return true;\n}\n\n/**\n * Extract original question from thread\n */\nfunction extractOriginalQuestion(threadHistory) {\n  // threadHistory = array de emails da thread, ordenados por data\n  // [0] = email mais antigo (pergunta original do cliente)\n  // [last] = email mais recente (sua resposta)\n\n  if (!threadHistory || threadHistory.length < 2) {\n    return null;\n  }\n\n  const originalEmail = threadHistory[0];\n  return {\n    subject: originalEmail.subject,\n    body: originalEmail.body,\n    from: originalEmail.from,\n    date: originalEmail.date\n  };\n}\n\n/**\n * Extract your manual response\n */\nfunction extractYourResponse(sentEmail) {\n  return {\n    body: sentEmail.body,\n    date: sentEmail.date\n  };\n}\n\n/**\n * Use Gemini to translate response to all languages\n */\nasync function translateToAllLanguages(responseText, detectedLanguage) {\n  const prompt = `You are a professional translator for customer support content.\n\nTASK: Translate the following customer support response to Portuguese, English, and Spanish.\n\nORIGINAL RESPONSE (in ${detectedLanguage}):\n${responseText}\n\nINSTRUCTIONS:\n1. Maintain the same helpful, friendly tone\n2. Keep all URLs, prices, and specific instructions EXACTLY as they appear\n3. Do NOT add emojis if they're not in the original\n4. Preserve formatting (line breaks, etc.)\n\nRESPOND IN THIS EXACT JSON FORMAT:\n{\n  \"pt\": \"traduГ§ГЈo em portuguГЄs\",\n  \"en\": \"translation in english\",\n  \"es\": \"traducciГіn en espaГ±ol\"\n}`;\n\n  try {\n    const response = await fetch(GEMINI_API_URL + `?key=${GEMINI_API_KEY}`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        contents: [{\n          parts: [{\n            text: prompt\n          }]\n        }],\n        generationConfig: {\n          temperature: 0.3,\n          maxOutputTokens: 1000,\n        }\n      })\n    });\n\n    const data = await response.json();\n    const jsonText = data.candidates[0].content.parts[0].text.trim();\n\n    // Extract JSON from response (may have markdown code blocks)\n    const jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) {\n      throw new Error('Invalid JSON response from Gemini');\n    }\n\n    return JSON.parse(jsonMatch[0]);\n  } catch (error) {\n    console.error('Translation error:', error);\n    // Fallback: use original text for all languages\n    return {\n      pt: responseText,\n      en: responseText,\n      es: responseText\n    };\n  }\n}\n\n/**\n * Extract keywords from question using Gemini\n */\nasync function extractKeywords(questionText) {\n  const prompt = `Extract 3-5 multilingual keywords from this customer support question.\n\nQUESTION:\n${questionText}\n\nINSTRUCTIONS:\nReturn keywords in Portuguese, English, and Spanish that represent this question.\nInclude variations and synonyms that customers might use.\n\nRESPOND IN THIS EXACT JSON FORMAT:\n{\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n}`;\n\n  try {\n    const response = await fetch(GEMINI_API_URL + `?key=${GEMINI_API_KEY}`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        contents: [{\n          parts: [{\n            text: prompt\n          }]\n        }],\n        generationConfig: {\n          temperature: 0.3,\n          maxOutputTokens: 200,\n        }\n      })\n    });\n\n    const data = await response.json();\n    const jsonText = data.candidates[0].content.parts[0].text.trim();\n\n    const jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) {\n      throw new Error('Invalid JSON response from Gemini');\n    }\n\n    const result = JSON.parse(jsonMatch[0]);\n    return result.keywords || [];\n  } catch (error) {\n    console.error('Keyword extraction error:', error);\n    return [];\n  }\n}\n\n/**\n * Categorize the question using Gemini\n */\nasync function categorizeQuestion(questionText) {\n  const categories = [\n    'access',\n    'technical_support',\n    'how_to_start',\n    'legitimacy',\n    'subscription_cancel',\n    'payment_problem',\n    'generic_help',\n    'other'\n  ];\n\n  const prompt = `Categorize this customer support question into one of these categories:\n${categories.join(', ')}\n\nQUESTION:\n${questionText}\n\nRESPOND WITH ONLY THE CATEGORY NAME (lowercase, with underscores):`;\n\n  try {\n    const response = await fetch(GEMINI_API_URL + `?key=${GEMINI_API_KEY}`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        contents: [{\n          parts: [{\n            text: prompt\n          }]\n        }],\n        generationConfig: {\n          temperature: 0.1,\n          maxOutputTokens: 20,\n        }\n      })\n    });\n\n    const data = await response.json();\n    const category = data.candidates[0].content.parts[0].text.trim().toLowerCase();\n\n    return categories.includes(category) ? category : 'other';\n  } catch (error) {\n    console.error('Categorization error:', error);\n    return 'other';\n  }\n}\n\n/**\n * Main auto-learning execution\n */\nasync function executeAutoLearning() {\n  // Check if this is a manual response\n  if (!isManualResponse(sentEmail)) {\n    return {\n      learned: false,\n      reason: 'Not a manual response (auto-responder detected)'\n    };\n  }\n\n  // Get thread history (provided by Gmail Trigger node)\n  const threadHistory = sentEmail.thread || [];\n\n  // Extract original question\n  const originalQuestion = extractOriginalQuestion(threadHistory);\n  if (!originalQuestion) {\n    return {\n      learned: false,\n      reason: 'Could not extract original question from thread'\n    };\n  }\n\n  // Extract your manual response\n  const yourResponse = extractYourResponse(sentEmail);\n\n  // Detect language of your response\n  const responseText = yourResponse.body;\n  let detectedLanguage = 'pt';\n  if (/\\b(hello|thank|please|help|access)\\b/i.test(responseText)) {\n    detectedLanguage = 'en';\n  } else if (/\\b(hola|gracias|ayuda|acceso)\\b/i.test(responseText)) {\n    detectedLanguage = 'es';\n  }\n\n  console.log('Auto-Learning: Processing manual response');\n  console.log('Original question:', originalQuestion.subject);\n  console.log('Your response language:', detectedLanguage);\n\n  // Translate to all languages\n  const translations = await translateToAllLanguages(responseText, detectedLanguage);\n\n  // Extract keywords\n  const keywords = await extractKeywords(originalQuestion.subject + '\\n' + originalQuestion.body);\n\n  // Categorize\n  const category = await categorizeQuestion(originalQuestion.subject + '\\n' + originalQuestion.body);\n\n  // Get current FAQ database (passed from previous node or loaded)\n  const currentFAQ = $node[\"Load FAQ Database\"].json.faq_database;\n\n  // Generate new FAQ ID\n  const maxId = Math.max(...currentFAQ.faqs.map(f => parseInt(f.id.replace('FAQ-', ''))));\n  const newId = `FAQ-${String(maxId + 1).padStart(3, '0')}`;\n\n  // Create new FAQ entry\n  const newFAQEntry = {\n    id: newId,\n    category: category,\n    keywords_multilingual: keywords,\n    responses: translations,\n    requires_followup: false,\n    learned_from: {\n      date: new Date().toISOString(),\n      original_subject: originalQuestion.subject,\n      customer_email: originalQuestion.from\n    }\n  };\n\n  // Add to FAQ database\n  currentFAQ.faqs.push(newFAQEntry);\n  currentFAQ.last_updated = new Date().toISOString().split('T')[0];\n\n  console.log('Auto-Learning: New FAQ entry created:', newId);\n  console.log('Category:', category);\n  console.log('Keywords:', keywords);\n\n  return {\n    learned: true,\n    new_faq_entry: newFAQEntry,\n    faq_database_updated: currentFAQ,\n    stats: {\n      total_faqs: currentFAQ.faqs.length,\n      new_faq_id: newId,\n      category: category,\n      languages_translated: ['pt', 'en', 'es']\n    }\n  };\n}\n\n// Execute\nreturn await executeAutoLearning();\n"
      },
      "name": "Auto-Learning Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        800
      ],
      "notes": "Detecta respostas manuais e aprende automaticamente"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.learned }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Learned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Node: Save Updated FAQ Database\n *\n * Salva o FAQ database atualizado apГіs auto-learning\n *\n * OPГ‡Г•ES DE STORAGE:\n * 1. Google Drive (recomendado - sincroniza automaticamente)\n * 2. N8N Binary Storage\n * 3. Dropbox\n * 4. HTTP POST para API externa\n *\n * Este exemplo usa Google Drive\n */\n\nconst updatedFAQ = $input.first().json.faq_database_updated;\n\nif (!updatedFAQ) {\n  return {\n    saved: false,\n    error: 'No updated FAQ database provided'\n  };\n}\n\n// Convert to JSON string with pretty formatting\nconst faqJSON = JSON.stringify(updatedFAQ, null, 2);\n\n// Prepare for Google Drive upload\nreturn {\n  json: {\n    saved: true,\n    file_name: 'faq-multilingual.json',\n    file_content: faqJSON,\n    total_faqs: updatedFAQ.faqs.length,\n    last_updated: updatedFAQ.last_updated\n  },\n  binary: {\n    data: Buffer.from(faqJSON, 'utf-8')\n  }\n};\n\n// NOTA: ApГіs este node, adicionar node \"Google Drive\" ou \"Write Binary File\"\n// para salvar o arquivo atualizado\n"
      },
      "name": "Save Updated FAQ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        800
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "faq-multilingual.json",
        "resolveData": true,
        "options": {}
      },
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1050,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CONFIGURE_THIS",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "Opcional: salvar FAQ atualizado no Google Drive"
    }
  ],
  "connections": {
    "Gmail Trigger - Inbox": {
      "main": [
        [
          {
            "node": "Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Data": {
      "main": [
        [
          {
            "node": "Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Language": {
      "main": [
        [
          {
            "node": "Load FAQ Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load FAQ Database": {
      "main": [
        [
          {
            "node": "FAQ Semantic Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Semantic Search": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Response Adapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response Adapter": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Send Gmail Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification": {
      "main": [
        [
          {
            "node": "Send Notification to FГЎbio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger - Sent (Auto-Learning)": {
      "main": [
        [
          {
            "node": "Auto-Learning Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Learning Detector": {
      "main": [
        [
          {
            "node": "If Learned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Learned": {
      "main": [
        [
          {
            "node": "Save Updated FAQ",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Save Updated FAQ": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "v2.0-complete"
}