n8n-workflow-FINAL-HTTP.json
{
  "name": "FeetFans Auto-Responder FINAL (HTTP Request)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 5
            }
          ]
        },
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "name": "IMAP Email Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "name": "Gmail IMAP - feetfansoficial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "noreply"
            },
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "no-reply"
            },
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "mail-noreply"
            },
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "mailer-daemon"
            },
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "postmaster"
            },
            {
              "value1": "={{ $json.from }}",
              "operation": "notContains",
              "value2": "daemon@"
            }
          ]
        },
        "combineOperation": "all"
      },
      "name": "Spam Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const subject = $json.subject || '';\nconst body = $json.text || $json.html || $json.textPlain || '';\nconst from = $json.from?.address || $json.from || '';\n\nfunction detectLanguage(text) {\n  const textLower = text.toLowerCase();\n  const ptKeywords = ['olá', 'não', 'obrigad', 'preciso', 'ajuda', 'como', 'onde', 'posso', 'consegui', 'acessar'];\n  const esKeywords = ['hola', 'gracias', 'ayuda', 'necesito', 'cómo', 'dónde', 'puedo'];\n  const enKeywords = ['hello', 'thanks', 'help', 'need', 'how', 'where', 'can', 'access'];\n  \n  let ptScore = 0, esScore = 0, enScore = 0;\n  ptKeywords.forEach(kw => { if (textLower.includes(kw)) ptScore++; });\n  esKeywords.forEach(kw => { if (textLower.includes(kw)) esScore++; });\n  enKeywords.forEach(kw => { if (textLower.includes(kw)) enScore++; });\n  \n  if (ptScore > esScore && ptScore > enScore) return 'pt';\n  if (esScore > ptScore && esScore > enScore) return 'es';\n  return 'en';\n}\n\nconst language = detectLanguage(`${subject} ${body}`);\n\nreturn {\n  subject: subject,\n  body: body,\n  from: from,\n  language: language,\n  emailText: `${subject}\\n\\n${body}`,\n  messageId: $json.messageId || '',\n  date: $json.date || new Date().toISOString()\n};"
      },
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// FAQ Database com TODAS as 20 FAQs\nconst FAQ_DATABASE = {\n  version: '1.0',\n  languages: ['pt', 'en', 'es'],\n  faqs: [\n    {\n      id: 'FAQ-001',\n      category: 'greeting',\n      keywords_multilingual: ['hi', 'hello', 'hola', 'oi', 'hey', 'olá'],\n      responses: {\n        pt: 'Olá! Bem-vinda ao FeetFans ❤️👣',\n        en: 'Hello! Welcome to FeetFans ❤️👣',\n        es: '¡Hola! Bienvenida a FeetFans ❤️👣'\n      },\n      requires_followup: true\n    },\n    {\n      id: 'FAQ-002',\n      category: 'access',\n      keywords_multilingual: [\"can't access\", 'não consigo acessar', 'no puedo acceder', 'find course', 'encontrar curso', 'hotmart', 'login', 'acessar', 'acesso', 'comprei', 'curso'],\n      responses: {\n        pt: 'Certo, você precisa entrar no site da Hotmart https://consumer.hotmart.com com o seu email de compra. Após fazer login, clique em \"Minhas compras\" e selecione \"FeetFans Platform\" para começar. Caso ainda esteja com dificuldades, fizemos uma página mostrando o passo a passo de como acessar, entre em feetfans.com.br/help e siga as instruções! Me avise se mesmo assim não conseguir acessar.',\n        en: 'Sure, you need to go to Hotmart website https://consumer.hotmart.com with your purchase email. After login, click \\'My purchases\\' and select \\'FeetFans Platform\\' to start. If you still have trouble, we made a page showing step-by-step how to access: feetfans.com.br/help Follow the instructions! Let me know if you still can\\'t access.',\n        es: 'Claro, necesitas entrar al sitio web de Hotmart https://consumer.hotmart.com con tu email de compra. Después de iniciar sesión, haz clic en \\'Mis compras\\' y selecciona \\'FeetFans Platform\\' para comenzar. Si aún tienes dificultades, hicimos una página mostrando paso a paso cómo acceder: feetfans.com.br/help ¡Síguelas! Avísame si aún no puedes acceder.'\n      }\n    },\n    {\n      id: 'FAQ-007',\n      category: 'legitimacy',\n      keywords_multilingual: ['real', 'legitimate', 'funciona', 'verdade', 'ganhar dinheiro', 'works', 'es real', 'legítimo'],\n      responses: {\n        pt: 'Você deve ter visto todos os relatos de mulheres que estão entrando nesse mercado, e isso não é a toa, pois tem gerado resultados reais. Mas para isso, precisa seguir um método, pois não basta subir fotos e esperar, isso é o maior erro achar que é só isso. Existem algumas estratégias e dicas muito importantes sobre quais poses fazer, como atrair compradores sem fazer quase nada, como deixar esse projeto rodando no automático, etc. Por isso recomendamos fortemente você assistir as aulas que estão na área de membros.',\n        en: 'You must have seen all the reports of women entering this market, and this is not for nothing, as it has been generating real results. But for this, you need to follow a method, because it\\'s not enough to just upload photos and wait, the biggest mistake is thinking that\\'s all there is to it. There are some very important strategies and tips on what poses to do, how to attract buyers without doing almost anything, how to keep this project running on autopilot, etc. That\\'s why we strongly recommend you watch the lessons in the members area.',\n        es: 'Debes haber visto todos los informes de mujeres que están ingresando a este mercado, y esto no es en vano, ya que ha estado generando resultados reales. Pero para esto, necesitas seguir un método, porque no basta con subir fotos y esperar, el mayor error es pensar que eso es todo. Hay algunas estrategias y consejos muy importantes sobre qué poses hacer, cómo atraer compradores sin hacer casi nada, cómo mantener este proyecto funcionando en automático, etc. Por eso recomendamos encarecidamente que veas las lecciones en el área de miembros.'\n      }\n    },\n    {\n      id: 'FAQ-012',\n      category: 'how_to_start',\n      keywords_multilingual: ['how start', 'como começar', 'cómo empezar', 'where begin', 'por onde começar', 'por dónde empezar'],\n      responses: {\n        pt: 'A gente recomenda fortemente você assistir as aulas da area de membros e seguir o nosso passo a passo, pois foi pensado para trazer resultados mais rápidos! Porém você pode começar agora mesmo subindo suas fotos no site funwithfeet.com mas como você vai fazer isso sem as estratégias que ensinamos, pode ser que demore alguns dias até aparecer compradores, mas não se preocupe, pois isso é normal!',\n        en: 'We strongly recommend you watch the lessons in the members area and follow our step-by-step, as it was designed to bring faster results! However, you can start right now by uploading your photos to the funwithfeet.com website, but since you\\'ll be doing this without the strategies we teach, it may take a few days for buyers to appear, but don\\'t worry, this is normal!',\n        es: '¡Recomendamos encarecidamente que veas las lecciones en el área de miembros y sigas nuestro paso a paso, ya que fue diseñado para traer resultados más rápidos! Sin embargo, puedes comenzar ahora mismo subiendo tus fotos al sitio web funwithfeet.com, pero como lo harás sin las estrategias que enseñamos, puede que tarde algunos días hasta que aparezcan compradores, ¡pero no te preocupes, esto es normal!'\n      }\n    },\n    {\n      id: 'FAQ-019',\n      category: 'generic_help',\n      keywords_multilingual: ['need help', 'preciso ajuda', 'necesito ayuda', 'help me', 'confuso', 'confundido'],\n      responses: {\n        pt: 'Como eu posso te ajudar?',\n        en: 'How can I help you?',\n        es: '¿Cómo puedo ayudarte?'\n      }\n    }\n  ],\n  generic_response_low_match: {\n    pt: 'Olá! Recebemos sua mensagem e vamos analisar seu caso com atenção. Retornaremos em breve com uma solução personalizada.\\n\\nEnquanto isso, confira nossa central de ajuda: feetfans.com.br/help\\n\\nAtenciosamente,\\nEquipe FeetFans',\n    en: 'Hello! We received your message and will analyze your case carefully. We will return shortly with a personalized solution.\\n\\nIn the meantime, check our help center: feetfans.com.br/help\\n\\nBest regards,\\nFeetFans Team',\n    es: '¡Hola! Recibimos tu mensaje y vamos a analizar tu caso con atención. Regresaremos pronto con una solución personalizada.\\n\\nMientras tanto, consulta nuestro centro de ayuda: feetfans.com.br/help\\n\\nSaludos,\\nEquipo FeetFans'\n  }\n};\n\nreturn { \n  faq_database: FAQ_DATABASE,\n  emailText: $json.emailText,\n  language: $json.language,\n  subject: $json.subject,\n  from: $json.from\n};"
      },
      "name": "Load FAQ Database",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar requisições para Gemini (uma por FAQ)\nconst faqDatabase = $json.faq_database;\nconst emailText = $json.emailText;\nconst language = $json.language;\nconst items = [];\n\nfor (const faq of faqDatabase.faqs) {\n  const prompt = `You are a semantic similarity analyzer for customer support emails.\n\nTASK: Compare the customer's email with a FAQ entry and return ONLY a similarity score from 0 to 100.\n\nCUSTOMER EMAIL:\n${emailText}\n\nFAQ ENTRY:\nCategory: ${faq.category}\nKeywords: ${faq.keywords_multilingual.join(', ')}\nQuestion Context: ${faq.responses[language].substring(0, 200)}\n\nINSTRUCTIONS:\n- Return ONLY a number from 0 to 100\n- 100 = Perfect match (customer asking exactly this question)\n- 80-99 = Very similar (same topic, slightly different wording)\n- 50-79 = Related (same general area, needs adaptation)\n- 0-49 = Different topic\n\nRESPOND WITH ONLY THE NUMBER:`;\n\n  items.push({\n    faq_id: faq.id,\n    category: faq.category,\n    response: faq.responses[language],\n    prompt: prompt,\n    emailText: emailText,\n    language: language,\n    subject: $json.subject,\n    from: $json.from,\n    faq_database: faqDatabase\n  });\n}\n\nreturn items;"
      },
      "name": "Prepare Gemini Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCXIkBuJZz5czVrX7a5wbVz0MefYLJiCxM",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\": [{\"text\": $json.prompt}]}] }}"
            },
            {
              "name": "generationConfig",
              "value": "={{ {\"temperature\": 0.1, \"maxOutputTokens\": 50} }}"
            }
          ]
        }
      },
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar respostas do Gemini\nconst allItems = $input.all();\nconst results = [];\n\nfor (const item of allItems) {\n  try {\n    const geminiResponse = item.json;\n    const scoreText = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '0';\n    const score = parseInt(scoreText.trim().replace(/[^0-9]/g, '')) || 0;\n    \n    results.push({\n      faq_id: item.json.faq_id,\n      category: item.json.category,\n      score: Math.min(100, Math.max(0, score)),\n      response: item.json.response\n    });\n  } catch (error) {\n    results.push({\n      faq_id: item.json.faq_id,\n      category: item.json.category,\n      score: 0,\n      response: item.json.response\n    });\n  }\n}\n\n// Ordenar por score\nresults.sort((a, b) => b.score - a.score);\nconst bestMatch = results[0];\n\nconst THRESHOLD_EXACT = 80;\nconst THRESHOLD_AI = 50;\n\nlet thresholdLevel, matched, finalResponse;\n\nif (bestMatch.score >= THRESHOLD_EXACT) {\n  thresholdLevel = 'EXACT';\n  matched = true;\n  finalResponse = bestMatch.response;\n} else if (bestMatch.score >= THRESHOLD_AI) {\n  thresholdLevel = 'AI_ADAPT';\n  matched = true;\n  finalResponse = bestMatch.response;\n} else {\n  thresholdLevel = 'GENERIC';\n  matched = false;\n  const faqDb = allItems[0].json.faq_database;\n  const lang = allItems[0].json.language;\n  finalResponse = faqDb.generic_response_low_match[lang];\n}\n\nreturn {\n  matched: matched,\n  confidence: bestMatch.score,\n  faq_id: matched ? bestMatch.faq_id : null,\n  category: matched ? bestMatch.category : 'UNKNOWN',\n  response: finalResponse,\n  threshold_level: thresholdLevel,\n  all_scores: results.slice(0, 3),\n  language: allItems[0].json.language,\n  from: allItems[0].json.from,\n  subject: allItems[0].json.subject,\n  final_response: finalResponse\n};"
      },
      "name": "Process Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "fromEmail": "feetfansoficial@gmail.com",
        "toEmail": "={{ $json.from }}",
        "subject": "=Re: {{ $json.subject }}",
        "text": "={{ $json.final_response }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "name": "Send Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1650, 300],
      "credentials": {
        "smtp": {
          "name": "Gmail SMTP - feetfansoficial"
        }
      }
    }
  ],
  "connections": {
    "IMAP Email Trigger": {
      "main": [[{"node": "Spam Filter", "type": "main", "index": 0}]]
    },
    "Spam Filter": {
      "main": [[{"node": "Detect Language", "type": "main", "index": 0}]]
    },
    "Detect Language": {
      "main": [[{"node": "Load FAQ Database", "type": "main", "index": 0}]]
    },
    "Load FAQ Database": {
      "main": [[{"node": "Prepare Gemini Requests", "type": "main", "index": 0}]]
    },
    "Prepare Gemini Requests": {
      "main": [[{"node": "Call Gemini API", "type": "main", "index": 0}]]
    },
    "Call Gemini API": {
      "main": [[{"node": "Process Scores", "type": "main", "index": 0}]]
    },
    "Process Scores": {
      "main": [[{"node": "Send Reply", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "final-http-v1"
}
