n8n-workflow-purchase-complete-v4-CORRIGIDO.json
{
  "name": "Hotmart - Purchase Complete + FAQ (2h) - FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotmart-purchase-complete",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Hotmart Purchase",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "hotmart-purchase-complete"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst payload = input.body;\n\n// Extrair dados do comprador\nconst phone = payload.data.buyer.checkout_phone || '';\n\n// Formatar telefone para WhatsApp\nconst formattedPhone = phone.replace(/\\D/g, '') + '@c.us';\n\nreturn [{\n  json: {\n    name: payload.data.buyer.name || 'Customer',\n    email: payload.data.buyer.email || '',\n    phone: formattedPhone,\n    product: payload.data.product.name || '',\n    price: payload.data.purchase.price.value || 0\n  }\n}];"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha.feetstars.online/api/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "🇺🇸 Congratulations, your FeetFans purchase is almost complete! After watching the video that appeared, open your email and look for \"Hotmart\". Open only the most recent email. Then, just follow the instructions in that email to access the members area 😃\n\n🇪🇸 ¡Felicidades! Tu compra en FeetFans está casi completa. Después de ver el video, abre tu correo electrónico y busca \"Hotmart\". Abre solo el correo más reciente. Luego, sigue las instrucciones para acceder al área de miembros 😃"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "waha-api-key",
          "name": "WAHA API Key"
        }
      }
    },
    {
      "parameters": {
        "resume": "afterTimeInterval",
        "amount": 2,
        "unit": "hours"
      },
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [850, 300],
      "webhookId": "wait-2h"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha.feetstars.online/api/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $node[\"Extract Data\"].json.phone }}"
            },
            {
              "name": "text",
              "value": "🇺🇸 Just a quick note: I created a website where I show step-by-step how to access the FeetFans Platform and all its content. Just save my contact here and click the link: feetfans.com.br/help\n\n🇪🇸 Solo una breve nota: he creado un sitio web donde muestro paso a paso cómo acceder a la plataforma FeetFans y a todo su contenido. Simplemente guarda mi contacto aquí y haz clic en el enlace: feetfans.com.br/ayuda"
            }
          ]
        },
        "options": {}
      },
      "name": "Send FAQ Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "waha-api-key",
          "name": "WAHA API Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook Hotmart Purchase": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Message": {
      "main": [
        [
          {
            "node": "Wait 2 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [
          {
            "node": "Send FAQ Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4",
  "id": "hotmart-purchase-complete-v4-fixed"
}
